

.filter{
 filter: blur(6px);
 position: fixed;
}

.card img{
    top: 150px;
    left: 300px;
}

.card p{
    right: 550px;
    top: 320px;
    background-color:khaki;
    color:black;
}
.card{
    margin-top: 150px;
    background-color: white;
    position: absolute;
    height: 400px;
    width: 500px;
    margin-left: 250px;
}

.card form{
    margin-left: 300px;
    bottom: 400px;
    position: relative;

}
.btn{
    border-radius: 3px;
    background-color: khaki;
}
.sentence{
    color: rgb(185, 75, 75);
}
